<mat-drawer-container class="container">


    <mat-drawer-content class="conteudo-left">
      <mat-nav-list class="list">
        <a mat-list-item routerLink="">
          <i class="material-icons">home</i>Home
        </a>

        <a mat-list-item routerLink="/categorias">
          <i class="material-icons">menu_book</i>Categorias
        </a>

      </mat-nav-list>

        <!-- conteúdo para inserir abaixo -->
        <router-outlet>

        </router-outlet>


    </mat-drawer-content>


</mat-drawer-container>
